<p-table #dt1 [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll" [paginator]="true"
    [rows]="maxPage" [totalRecords]="totalData" [loading]="loading" [rowsPerPageOptions]="[5, 10]"
    tyleClass="p-datatable-gridlines" [globalFilterFields]="['id', 'title']">

    <ng-template pTemplate="caption">
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText #searchText type="text" (input)="dt1.filterGlobal(searchText.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-i="rowIndex">
        <tr>
            <td>{{i+1}}</td>
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td><button (click)="deletePost(data.id)">DELETE</button></td>
        </tr>
    </ng-template>
</p-table>